# General
.DS_Store
.Rproj.user
.Rhistory
.Rprofile
.bash_history
.sh_history
.wget-hsts
.cache
.local
.config
/.luarc.json
~$*

# Quarto
_site/
.quarto/
*_files/
*cache/

# Data
cellranger*
course_data*
*.rds
de_genes_FindAllMarkers.csv
data/
results/

# Other
single_cell_course
*.html
/.quarto/
